@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');

html,body{
  user-select: none;
}
.navList ul li{
    font-family: "Lexend Deca", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.circle{
  /* background: rgb(251,146,60); */
background: linear-gradient(0deg, rgba(251, 146, 60, 0.507) 17%, rgba(255,255,255,1) 75%);
}

/* Hide scrollbars for the entire website */

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;
}

.slide{
  background-image: url(./Assets/bacgroundImage.jpg);
}

.traingle{
  clip-path: polygon(100% 49%, 0 0, 0 98%);
  filter: saturate(5);
}
